.navigation {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    background-color: #282828;
    color: black;
}

/* Color scheme: #1A1A1D, #4E4E50, #6F2232, #950740, #C3073F */

.brand-name {
text-decoration: none;
color: #d83838;
font-size: 1.3rem;
margin-left: 1rem;
}

.navigation-menu {
margin-left: auto;
}

.navigation-menu ul {
display: flex;
padding: 0;
}

.navigation-menu li {
/* removes default disc bullet for li tags and applies margin to left & right side */
list-style-type: none;
margin: 0 1rem;
}

.navigation-menu li a {
/* increases the surface area of the anchor tag to span more than just the anchor text */
text-decoration: none;
display: block;
width: 100%;
color: #d83838;
}



