.card {
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 36rem;
	height: 6rem;
	margin: 0 auto;
	background-color: #26292f;
	border-radius: 10px;
    padding: 15px;
    color: #d4d4d4;
    /* row-gap: 1em; */
}
/* Color scheme: #4E4E50, #6F2232, #950740, #C3073F */

.title {
    display:flex;
    justify-content: space-between;
}

.text {
    padding: 0.5rem;
}

.container{
      padding: 20px;
}

a {
    text-decoration: none;
}

.input {
    background-color: #fff;
    overflow: hidden;
    padding-left: 5px;
    padding-top: 5px;
    width: 360px;
    border-radius: 3px;
  }

.form-control{
    width: 360px;
    border-radius: 3px;
    overflow: hidden;
}

.form-slug{
    width: 360px;
    height: 25px;
    border-radius: 3px;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 0.4em;
    padding-right: 0.4em;
}

.form-desc{
    width: 500px;
    height: 200px;
    border-radius: 3px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 0.4em;
    padding-right: 0.4em;
}