.card {
    display:flex;
    align-items: center;
    position: relative;
    width: 36rem;
	height: 6rem;
	margin: 0 auto;
	background-color: #26292f;
	border-radius: 10px;
    padding: 15px;
    /* box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12); */
	transition: all 0.3s;
    /* justify-content: space-between; */
}
/* Color scheme: #4E4E50, #6F2232, #950740, #C3073F */

.text {
    padding: 0.5rem;
}

.container{
      padding: 20px;
}